* {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: beige;
}

h1 {
    margin-top: px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 76, 139);
}

p {
    font-size: 20px;
}

section {
    background-color: black;
    color: #f0f0f0;
    padding: 10px;
    font-size: 40px;
    border-radius: 5px;
    margin: ;
}

#fecha {
    margin: 0px;
}

.container {
    margin-bottom: px;
}

#nombre {
    padding: 7px;
    font-size: 16px;
}

#botonBienvenida, #botonLimpiar {
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    background-color: black;
    color: beige;
    border-color: beige;
}

#p1 {
    margin-bottom: 5px;
}

#mostrar {
    margin: 10px;
}

#mostrar, #ocultar {
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    background-color: black;
    color: beige;
    border-color: beige;
}

#datos-empresa {
    width: 400px;
    margin-inline: auto;
    margin-top: 20px;
    background-color: beige;
    padding: 2px;
    border: 3px solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
}