* {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(15, 15, 46);
    color: whitesmoke;
}

#Calculator {
    width: 300px;
    height: 300px;
    background-color: rgb(7, 4, 53);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid black;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    margin-left: 10px;
    margin-right: 10px;
}

input {
    margin-top: ;
    width: 90px;
    height: 30px;
    margin-left: 12px;
}

button {
    margin: auto;
    justify-content: center;
    width: 70px;
    height: 30px;
    display: flex;
}

#add {
    margin-top: ;
    margin-bottom: 0px;
    margin-right: 10px;
}

#subtract {
    margin-left: 0px;
}

#equal {
    margin-top: 4px;
}

#result {
    margin-top: 2px;
    margin-left: 2px;
}

#values {
    display: flex;
    margin-top: 100px;
    padding: 0px;
}

#num2 {
    margin-top: 0px;
}

.operations {
    margin-top: 30px;
    display: flex;
}