/* Damián Oyarce - 13/11/2024 */
/* Elementos aplicados a todas las etiquetas */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Elementos aplicados a la etiqueta con la clase 'container' */
.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* Elementos aplicados a la etiqueta con la clase 'registro' */
.registro {
    margin: 10px;
    padding-inline: 30px;
    padding-block: 10px;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    position: static;
}

/* Elementos aplicados a la etiqueta 'h1' con la clase 'registro' */
.registro h1 {
    background-color: #23222B;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Elementos aplicados a la etiqueta 'input' con la clase 'registro' */
.registro input {
    margin-block: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* Elementos aplicados a la etiqueta 'button' con la clase 'registro' */
.registro button {
    padding-block: 4%;
    padding-inline: 7%;
    position: relative;
    margin: 10px auto;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    background-color: #23222B;
}

/* Elementos aplicados a la etiqueta con el id 'form' */
#form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

/* Elementos aplicados a la etiqueta con el id 'personas' */
#personas {
    margin: 10px;
    border: 3px black solid;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}

/* Elementos aplicados a la etiqueta 'th' con el id 'tablaPersonas' */
#tablaPersonas th {
    padding: 15px;
    background-color: #23222B;
    border-radius: 5px;
    margin-inline: 2px;
}

/* Elementos aplicados a la etiqueta 'td' con el id 'tablaPersonas' */
#tablaPersonas td {
    padding: 10px;
    border: 3px #23222B solid;
    border-radius: 5px;
}