* {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

p {
    font-size: 18px;
}

#mostrar {
    padding: 7px;
    font-size: 16px;
    border-radius: 20px;
}